
<div class="glass" ng-click="hide()"></div>
<div class="popup">
	<header class="popup-header">
		Nouveau ticket
	</header>
	
	<section class="popup-section newTicketContent">lblTrackId
	
		<label id="lblHistoryId">History id</label><label id="lblHistoryId">lblTrackId id</label><br/><br/><br/><br/>
		
		<input type="text" class="inputNewTicket" value="Titre du ticket"/>
		
	</section>
	
	<footer class="popup-footer">
		<a href="" class="btn" ng-click="hide()">Annuler</a>
		<a href="" class="btn btn-grey">Enregistrer</a>
	</footer>
</div>