<div class="glass" ng-click="hide()"></div>
<div class="popup">
	<header class="popup-header">
		Nouveau projet
	</header>
	<section class="popup-section">
		<div>
	        <label>Nom du projet</label> 
	        <input type="text" id="nom" name="nom" ng-model="project.nom" placeholder="Nom du projet"> 
		</div>
	</section>
	<footer class="popup-footer">
		<a href="" class="btn" ng-click="hide()">Annuler</a>
		<a href="" class="btn btn-grey" ng-click="createProject();hide()">Enregistrer</a>
	</footer>
</div>