<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
  <HTML>
	<HEAD>
		<META HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=iso-8859-1">
		<TITLE>Tableau de bord</TITLE>
		<LINK rel="stylesheet" type="text/css" href="../stylesheets/logged.css">
	</HEAD>
	<body>
	
		<div class="mainContent">
			<div class="leftNavigation">
				<div class="staticLeftNavigation">
				</div>
				<div class="scrollLeftNavigation">
				</div>
			</div>
			<div class="boardContent">
				<div class="topBoardBar">
				</div>
				<div id="ticketsList">
				</div>
			</div>
		</div>
		
	</body>
</HTML>