<div id="container">
    <!--<ul class="leftNavigation">
<li ng-repeat="ticket in tickets" ng-click="" ng-class="{active: sprint == selected}">{{ticket.id}}</li>
</ul>-->
    <div class="boardContent">
        <div class="topBoardBar">
            <a class="btn icon-add" href="" ng-click="showGlassNewTicket=!showGlassNewTicket">
                Nouveau Ticket
            </a>
            <a class="btn icon-print" href="">
                Imprimer les tickets
            </a>
            <a class="btn icon-doc" href="">
                Rapport
            </a>
        </div>
        <div id="ticket_{{$index}}" class="ticketContent">
            <span>History ID : {{ticket.history_id}}</span>
            <span class="ticket-personne">
                Attribué à {{ticket.personne}}
            </span>
            <br/>
            <span>Trac ID : {{ticket.trac_id}}</span>
            <br/>
            <br/>
            <span class="ticket-titre">{{ticket.titre}}</span>
            <span class="ticket-personne">
                Importance: {{ticket.priority}}
            </span>
            <br/>
            <span class="ticket-personne">
                Poids: {{ticket.poids}}
            </span>
            <br/>
            <br/>
            <br/>
            <span>Description</span>
            <br/>
            <div class="greyBorder">
                <span class="ticket-description">{{ticket.description}}</span>
            </div>
        </div>
    </div>
    <ng-include src="'views/addNewTicket.html'" ng-show="showGlassNewTicket" ng-controller="NewTicketController" ></ng-include>
</div>
