
<section class="max-width text-center big-padding-bottom ng-scope">
			<div class="leftNavigation">
				<div class="staticLeftNavigation">
					<a class="btn ng-scope ng-binding" >Backlog</a>
				</div>
				<div class="scrollLeftNavigation">
					<a class="btn ng-scope ng-binding" ng-repeat="sprint in sprints">{{sprint.name}}</a>
				</div>
			</div>
			<div class="boardContent">
				<div class="topBoardBar">
					<a class="btnTopBar" href="">
						<img title="addNewTicket" alt="Add" src="images/icon_add.png">
					</a>
				</div>
				<div id="ticketsList">
				</div>
			</div>
</section>
