<div id="container">
	<section class="max-width text-center big-padding-bottom">
		<img src="images/menottes_logo.png" alt="Menottes, The SM Tools." />

		<div class="main-part">
			<a ng-click="newPlanif()" class="btn big-btn btn-grey">Planification</a>
		</div>
		<div class="secondary-part">
			<!--
			<div>
				<a href="" class="btn big-btn"><img src="images/logo_itk-vigne.png" alt="Disp'eau" title="Disp'eau" ng-click="clickOnProjet(1)"/></a>
				<a href="" class="btn big-btn"><img src="images/logo_itk-preco.png" alt="Précovision" title="Précovision" ng-click="clickOnProjet(2)"/></a>
				<a href="" class="btn big-btn"><img src="images/logo_itk-protect.png" alt="4P / Movida" title="4P / Movida" ng-click="clickOnProjet(3)"/></a>
			</div>
			-->
	        <a ng-repeat="projet in projets" class="btn big-btn"><img  src="images/{{projet.logo}}" alt="{{projet.nom}}" title="{{projet.nom}}" ng-click="clickOnProjet(projet)"/></a>
			<a href="" class="btn-new-project" ng-click="showGlassNewProject=!showGlassNewProject">Nouveau projet</a>
		</div>
		<div class="secondary-part">
		 	<a ng-repeat="poll in polls" class="btn big-btn" ng-click="clickOnPoll(poll)">{{poll.nom}}</a>
			<a href="" class="btn-new-project" ng-click="showGlassNewPoll=!showGlassNewProject">Nouveau sondage</a>
		</div>
	</section>

	<footer class="main-footer">by the <a href="http://itkweb.com" class="link-footer">iTK Team</a></footer>
	<ng-include src="'views/addNewProject.html'" ng-show="showGlassNewProject" ng-controller="NewProjectController" ></ng-include>
	<ng-include src="'views/addNewPoll.html'" ng-show="showGlassNewPoll" ng-controller="NewPollController" ></ng-include>
</div>
