<h1>{{poll.nom}}</h1>
<div class="container">

    <div class="field">
        <label>Sondage crée le :</label>
        <span>{{poll.formattedCreationDate}}</span>
    </div>
    <div class="field">
        <label>Dernière mise à jour :</label>
        <span>{{poll.formattedUpdateDate}}</span>
    </div>
    <div class="field">
        <label>Description :</label>
        <span>{{poll.description}}</span>
    </div>
    <div class="field">
        <label>Date de début du sondage :</label>
        <span>{{poll.formattedStartDate}}</span>
    </div>
    <div class="field">
        <label>Date de fin du sondage :</label>
        <span>{{poll.formattedEndDate}}</span>
    </div>
    <div class="field">
        <label>Statut :</label>
        <span>{{poll.status}}</span>
    </div>
    <h2>Bon ben maintenant y'a plus qu'a implementer le systeme de sondage lui meme !!!<br/>To be continued...</h2>
    <div class="field">
    	<table width="100%">
    		<tr ng-repeat="user in poll.users">
    			<td>{{user.nom}}</td>
    			<td>Il manque les choix par ici</td>
    			<td>{{user.commentaire}}</td>
    		</tr>
    	</table>
	</div>
</div>

