<div id="container">
    <section class="max-width text-center big-padding-bottom">
        <a href=""><img src="images/menottes_logo.png" alt="Menottes, The SM Tools." class="logo" /></a>
        <div ng-show="errorMessage" class="userLoginErrorMessage">
            {{errorMessage}}
        </div>
        <div class="container">

            <form id="connexion" class="">
                <div class="field" id="login">
                    <label for="inputLogIn">Utilisateur <span class="error_message"></span>: </label>
                    <input type="text" placeholder="ex: JohnDoe" name="login" id="inputLogIn" class="input-fullwidth" ng-model="login"/>
                </div>
                <div class="field" id="password">
                    <label for="inputPassword">Mot de passe <span class="error_message"></span>: </label>
                    <input type="password" name="password" id="inputPassword" class="input-fullwidth" ng-model="password"/>
                </div>

                <button type="submit" ng-click="clickOnLogin()" class="btn btn-grey fullwidth-btn">Se connecter</button><br/><br/>
                <button type="submit" ng-click="clickOnForgotten()" class="btn fullwidth-btn">Mot de passe oublié ?</button>

            </form>


        </div>
    </section>

    <footer class="main-footer">by the <a href="http://itkweb.com" class="link-footer">iTK Team</a></footer>
    <ng-include src="'views/popup.html'" ng-show="showGlass" ng-controller="PopupController" ></ng-include>
</div>