
/*--------------------- Menu gauche --------------------*/

#container{
	background:#f9f9f9;
}

.leftNavigation{
	width:160px;
	height:100%;
	max-height:100%;
	position:absolute;
	top:0;
	left:0;
	border-right : 1px solid #888;
	overflow:auto;
	background:#FFFFFF;
}

.staticLeftNavigation, .scrollLeftNavigation{
	padding:10px;
}

.staticLeftNavigation{
	border-bottom : 1px solid #F5F5F5;
}

.scrollLeftNavigation{
}

/*--------------------- Tableau de bord  --------------------*/
.boardContent{
	height:100%;
	margin-left : 160px;
}

.topBoardBar{
	border-bottom: 1px solid #F5F5F5;
}

#ticketsList{
	padding: 10px;
}

#ticketsList li{
	padding:10px;
	margin:2px;
	background-color:#FFF;
	border: 1px solid #aaa;
}
