
/*--------------------- Menu gauche --------------------*/



.leftNavigation{
	width:160px;
	height:100%;
	max-height:100%;
	position:absolute;
	top:0;
	left:0;
	overflow:auto;
	background:#FFFFFF;
	cursor:pointer;
}

.leftNavigation li{
	padding:20px;
	transition:padding 200ms;
	font-weight:bold;
}

.leftNavigation li+li{font-weight:normal;}

.leftNavigation li:hover, .leftNavigation li:focus{
	background:#F8F8F8;
}
.leftNavigation li.active{
	background:#F0F0F0;
	padding-left:25px;
}

/*--------------------- Tableau de bord  --------------------*/
.boardContent{
	height:100%;
	margin-left : 160px;
	padding:0 20px;
	overflow:auto;
}

.topBoardBar, .ticketsList{
	padding: 10px;
}

.topBoardBar{
	font-size:0.9em;
	text-align:center;
}

.ticketsList{
	padding:0 20px;
}
.ticketsList li{
	padding:10px;
	margin:2px;
	background-color:#FFF;
	border: 1px solid #aaa;
	border-radius:2px;
	cursor:move;
}
.ticketsList li:hover, .ticketsList li:focus{
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
.ticketsList span{
	display:inline-block;
}
	.ticket-id{
		width:40px;
	}
	.ticket-titre{
		font-weight:bold;
		padding: 0 10px 0 0;
	}
	.ticket-description{
		font-style: italic;
		font-size:0.9em;
		text-align:center;
	}
	.ticket-personne{
		font-size:0.9em;
		float: right;
	}
	.ticket-etat{
		font-weight: bold;
		float: right;
	}

	.priorityButton:hover{
		width: 13%;
		height: 13%;
		cursor: default;
	}