

#containerBoard{
	position:relative;
	height:100%;
}



.boardContent, .leftNavigation{
	height:90%;
	height: calc(100% - 60px);
}


/*--------------------- Menu top --------------------*/

.topmenu{
	height: 59px;
	background:#FFFFFF;


	border-bottom: 1px solid #FFFFFF;
	box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset;
}

.backsection{
	width: 168px;
	display: inline-block;
}



/*--------------------- Nav gauche --------------------*/

.leftNavigation{
	width:160px;
	position:absolute;
	top:60px;
	left:0;
	overflow:auto;
	background:#FFFFFF;
	cursor:pointer;
}

.leftNavigation li{
	padding:20px;
	transition:padding 200ms;
	font-weight:bold;
}

.leftNavigation li+li{font-weight:normal;}

.leftNavigation li:hover, .leftNavigation li:focus{
	background:#F8F8F8;
}
.leftNavigation li.active{
	background:#F0F0F0;
	padding-left:25px;
}

/*--------------------- Tableau de bord  --------------------*/
.boardContent{
	margin-left : 160px;
	overflow:auto;
}
.ticketslist{
	padding:20px;
}

.ticketslist li{
	padding:10px;
	margin:2px;
	background-color:#FFF;
	border: 1px solid #aaa;
	border-radius:2px;
	min-height: 24px;
}
.ticketslist li:hover, .ticketslist li:focus{
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}



.ticket-header{
	display: inline-block;
	width: 400px;
	float: left;
	line-height: 24px;
	cursor: pointer;
}
	.ticket-header-id{
		display: inline-block;
		width:40px;
	}
	.ticket-header-titre{
		font-weight:bold;
	}
	.ticket-header-personne,.ticket-header-etat{
		display: inline-block;
		border-radius: 1px;
		background: #5F5F5F;
		font-size:0.7em;
		line-height: 100%;
		padding: 4px;
		color: #FFF;
	}
	.ticket-personne{
	}
	.ticket-header-etat{
		background: #ff8000;
	}

.ticket-move{
	display: inline-block;
	width: 100px;
	float: right;
}

.ticket-description{
	padding:0 110px 0 360px;
	text-align: left;
	line-height: 24px;
		font-style: italic;
		font-size:0.9em;
	cursor: pointer;
}

/*
	.ticket-id{
		width:40px;
	}
	.ticket-titre{
		font-weight:bold;
		padding: 0 10px 0 0;
	}
	.ticket-description{
		font-style: italic;
		font-size:0.9em;
		text-align:center;
	}
	.ticket-personne{
		font-size:0.9em;
		float: right;
	}
	.ticket-etat{
		font-weight: bold;
		float: right;
	}

	.priorityButton:hover{
		width: 13%;
		height: 13%;
		cursor: default;
	}

	*/