


/*---------------------  --------------------*/

.aligntop{vertical-align: top;padding-top:5px;}

form{
	width: 600px;
	margin:0 auto;
}
	.field{
		margin:20px 0;
	}

		label{
			width: 180px;
			padding:0 20px 0 0;
			display:inline-block;
			text-align:right;
		}
		input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
			background-color:#FFF;
		    border:1px solid #AAA;
		    border-radius:2px;
		    box-shadow: 0 8px 10px -10px rgba(0, 0, 0, 0.3) inset;
		    padding: 5px 10px;
		    transition:border-color 200ms;
			width: 200px;
		}
			input.input-small{
				width:40px;
			}

			input:focus{
			    border:1px solid #444;
			    box-shadow: none;
				color:#444;
			}
			::-webkit-input-placeholder { /* WebKit browsers */
			    color:    #AAA;
			}
			:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			    color:    #AAA;
			}
			::-moz-placeholder { /* Mozilla Firefox 19+ */
			    color:    #AAA;
			}
			:-ms-input-placeholder { /* Internet Explorer 10+ */
			    color:    #AAA;
			}

		.help{
			display:inline-block;
			border-radius: 50px;
			height:20px;
			width:20px;
			background-color:#FFF;
			text-align:center;
			font-weight: bold;
			line-height: 22px;
			font-size: 1.2em;
			color:#ddd;
			cursor:default;
			margin-left: 5px;
		}
		.help:hover{
			color:#888;
		}
		.form-checkboxList{
			display: inline-block;
			width: auto;
		}
			.form-checkboxList li{
				height:30px;
				line-height:30px;
			}

		button.btn{
			margin-left:200px;
		}

