
/*--------------------- Popup nouveau ticket  --------------------*/
.newTicketContent{
	text-align:left;
    height:130px;
}

.labelTicket {
	font-weight: bold;
	text-align: center;
}
.inputTicket {

}

#lbl{
	float:left;
}


#inputTitreTicket{
	float:left;
	border-top : none;
	border-left : none;
	border-right : none;
	border-bottom : 1px solid black;
	width : 50%;
	font-size: 100%;
}

#inputImportance{
	border-top : none;
	border-left : none;
	border-right : none;
	border-bottom : 1px solid black;
	width:27px;
}


.leftContent{
	float: left;
	width: 50%;
}

.rightContent{
	float: right;
	width: 50%;
}

.popup-footer{
    width: 100%;
    margin:auto;
}

.optinalRadio{
    margin-left:100px;
    text-align:left;
}

.optinalRadio div {
    position:relative;
}

.optinalRadio .labelSet {
    position:absolute;
    left: 100px;
    top:0;
}
