
/*--------------------- Popup nouveau ticket  --------------------*/
.newTicketContent{
	text-align:left;
}

.labelTicket {
	font-weight: bold;
	text-align: center;
}
.inputTicket {

}

#lblHistory{
	float:left;
}
#lblTrac{
	
}

#inputTitreTicket{
	float:left;
	border-top : none;
	border-left : none;
	border-right : none;
	border-bottom : 1px solid black;
	width : 50%;
	font-size: 100%;
}

#inputImportance{
	border-top : none;
	border-left : none;
	border-right : none;
	border-bottom : 1px solid black;
	width:27px;
}

#lblImportance{
}

.leftContent{
	float: left;
	width: 60%;
}

.rightContent{
	float: right;
	width: 40%;
}